aside{
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    
    
    h1{
        text-align: center;
        margin-top: 10vh;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}