<section class="soy " fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="space-around center"  >
    <form fxFlex="40" class="example-form">
        <h2>Contacto <br> <strong>+57 3242018569</strong> </h2>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput  [errorStateMatcher]="matcher"
                 placeholder="Ex. pat@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
          <button mat-raised-button color="primary">Primary</button>
      </form>
    <article fxFlex="40" fxHide fxShow.gt-sm>
        <img src="../../assets/images/contacto.png"   alt="@Asnforgetbytes">
    </article>
   
    
</section>

