<section class="soy mat-typographfy" fxLayout.lt-lg="column" fxLayout="row" fxLayoutAlign="space-around center"  >
    <p fxFlex="45">
        <mat-form-field appearance="legacy">
          <mat-label>Legacy form field</mat-label>
          <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com"  required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </p>
    <article fxFlex="45">
        <img src="../../assets/images/contacto.png"   alt="@Asnforgetbytes">
    </article>
   
    
</section>

