<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio</a>
      <a mat-list-item [routerLink]="['/giftsapp']" routerLinkActive="router-link-active" >GiftsApp</a>
      <a mat-list-item [routerLink]="['/contador']" routerLinkActive="router-link-active" >Contador</a>
      <a mat-list-item [routerLink]="['/paisesapp']" routerLinkActive="router-link-active" >PaisesApp</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fondo">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" color="primary" >menu</mat-icon>
      </button>
      <button mat-button color="primary"><span>&#60;&#47;</span>Asnforget <span>&#62;</span> </button>
      <button mat-button color="primary">Quien soy</button>
      <button mat-button color="primary">Proyectos</button>
      <button mat-button color="primary">Contactenos</button>
      
    </mat-toolbar>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
