<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio</a>
      <a mat-list-item [routerLink]="['/giftsapp']" routerLinkActive="router-link-active" >GiftsApp</a>
      <a mat-list-item [routerLink]="['/contador']" routerLinkActive="router-link-active" >Contador</a>
      <a mat-list-item [routerLink]="['/paisesapp']" routerLinkActive="router-link-active" >PaisesApp</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fondo">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" color="primary" >menu</mat-icon>
      </button>
      <span *ngIf="isHandset$ | async" class="example-spacer"></span>
      <button [routerLink]="['/inicio']" routerLinkActive="router-link-active" mat-button color="primary"><span>&#60;&#47;</span>Asnforget <span>&#62;</span> </button>
      <span *ngIf="!(isHandset$ | async)" class="example-spacer"></span>
      <button *ngIf="!(isHandset$ | async)" mat-button color="primary" [routerLink]="['/inicio']" routerLinkActive="router-link-active">Quien soy</button>
      <button *ngIf="!(isHandset$ | async)" mat-button color="primary" [matMenuTriggerFor]="menu" >Proyectos</button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['/giftsapp']" routerLinkActive="router-link-active" mat-menu-item>GiftsApp</button>
        <button [routerLink]="['/contador']" routerLinkActive="router-link-active" mat-menu-item>Contador</button>
        <button [routerLink]="['/paisesapp']" routerLinkActive="router-link-active" mat-menu-item>PaisesApp</button>
      </mat-menu>
      <button *ngIf="!(isHandset$ | async)" mat-button color="primary">Contactenos</button>
      
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    <app-toolbar></app-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
