
    <section class="soy" fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="space-around center"  >
        <aside fxFlex="45" fxLayout="column" fxLayoutAlign="space-around start">
            <h3>Hola soy</h3>
            <div class="resaltador">
                <h1 >JORGE LUIS AREVALO MURCIA </h1>
            </div>
            <h2 ><strong> PROGRAMADOR FRONT END JUNIOR</strong></h2>
            <h3>Estudiante de programación misión tic
                Colombia, con conocimientos en desarrollo front end en framework angular y
                paradigma poo (programación orientada a objetos) enfocado al desarrollo de
                aplicaciones.</h3>
            
            <mat-divider ></mat-divider>
        </aside>
        <article fxFlex="45">
            <img src="../../../assets/images/prueba.png"   alt="@Asnforgetbytes">
        </article>
       
        
    </section>
    <section class="segunda" fxLayout="row" fxLayout.lt-md="column"  fxLayoutAlign="space-around center">
        <article  >
            <h2><strong>ESTUDIOS</strong></h2>
            <h3><strong>Diplomado en programación web</strong><br> Misión tic (Cniversidad de Antioquia)</h3>
            
            <h3><strong>Curso de manejo de angular 13</strong> <br>Udemy </h3>
            
            <h3><strong>Curso de manejo de git y github basico y medio</strong><br> Udemy</h3>
            
            <h3><strong>Curso de css y responsive desing</strong><br> Udemy</h3>
            
            <h3><strong>English Discoveries basico 1</strong><br> SENA</h3>
            <h3><strong>English Discoveries basico 2</strong><br> SENA</h3>
            <h3><strong>English Discoveries basico 3</strong><br> SENA</h3>
            <h3><strong>COMPELMENTARIA VIRTUAL EN DISEÑO WEB CON ADOBE DREAMWEAVER 2014</strong><br> SENA</h3>
            <h3><strong>COMPLEMENTARIA VIRTUAL EN ADOBE FLASH PROFESIONAL CS5.5 2013</strong><br> SENA</h3>
            
        </article>
        <mat-divider [vertical]="true"></mat-divider>
        <article   >
            <h2><strong> EXPERIENCIA LABORAL</strong></h2>
            <p>Feb 2015 - Sep 2021 <br>
                Fraquicia Nakua Spa sas,<br>
                Sector Hoteleria y Turismo</p>
            <p><strong> Cargo ocupado </strong><br>
                gerente de instalaciones Santa Marta</p>
            <p>Tareas administracion de personal , recepcion de peticiones y reclamos horarios rotativos atencion de recepcion generar ordenes de compra y manejo de compra y
                    manejo administrativo de los requerimientos de las instalaciones</p>
        </article>
    </section>



